name: Test
on:
  push:
    branches:
      - dev
#  push:
#    branches:
#      - master
#  pull_request:
#    branches:
#      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r dev_requirements.txt
      - name: Install pipenv
        run: |
          python3 -m pip install --upgrade pipenv wheel
      - name: Install dependencies
        run: |
          python3 -m pip install -r dev_requirements.txt
      - name: Run test suite
        run: |
          pipenv run test -v